@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100..900&family=Russo+One&display=swap');

:root {
    --main-font: 'Advent Pro', sans-serif;
    --logo-font: 'Russo One', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
}